<div class="" ng-init="init()">
  <div th:replace="~{partials/title :: title (${page})}" />
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>{{serviceName}}</h2>
          <div th:replace="~{partials/toolbox :: toolbox (${page})}" />
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
<button type="button" ng-click="DefaultAction()" class="btn btn-default">Default</button>
<button type="button" ng-click="PrimaryAction()" class="btn btn-primary">Primary</button>
<button type="button" ng-click="SuccessAction()" class="btn btn-success">Success</button>
<button type="button" ng-click="InfoAction()" class="btn btn-info">Info</button>
<button type="button" ng-click="WarningAction()" class="btn btn-warning">Warning</button>
<button type="button" ng-click="DangerAction()" class="btn btn-danger">Danger</button>
<button type="button" ng-click="DarkAction()" class="btn btn-dark">Dark</button>
<button type="button" ng-click="LinkAction()" class="btn btn-link">Link</button>
        </div>
      </div>
    </div>
  </div>
</div>