<!DOCTYPE html>
<html lang="ja" th:fragment="layout (template, menu)">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>大学入試管理システム</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

    <!-- MetisMenu CSS -->
    <link rel="stylesheet" th:href="@{/webjars/metisMenu/metisMenu.min.css}"/>

    <!-- DataTables CSS -->
    <link rel="stylesheet" th:href="@{/webjars/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css}"/>

    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet" th:href="@{/vendor/css/dataTables.responsive.css}"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/vendor/css/sb-admin-2.min.css}"/>

    <!-- Morris Charts CSS -->
    <link rel="stylesheet" th:href="@{/webjars/morrisjs/morris.css}"/>
    
    <!-- Custom Fonts -->
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<div th:unless="${menu=='tables'}">
        <body>
</div>
<div th:if="${menu=='tables'}">
        <body onload="ready();">
</div>

    <div id="wrapper">

        <!-- Navigation -->
        <div th:replace="~{fragments/Navbar :: navbar ('Name', 'name')}" />
        
<div th:if="${menu=='dashboard'}">
        <div th:replace="~{dashboard/Dashboard :: dashboard ('Name', 'name')}" />
</div>
<div th:if="${menu=='forms'}">
        <div th:replace="~{forms/Forms :: forms ('Name', 'name')}" />
</div>
<div th:if="${menu=='flot'}">
        <div th:replace="~{flot/Flot :: flot ('Name', 'name')}" />
</div>
<div th:if="${menu=='morris'}">
        <div th:replace="~{morris/Morris :: morris ('Name', 'name')}" />
</div>
<div th:if="${menu=='tables'}">
        <div th:replace="~{tables/Tables :: tables ('Name', 'name')}" />
</div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/webjars/metisMenu/metisMenu.min.js}"></script>
    
    <!-- DataTables JavaScript -->
    <script th:src="@{/webjars/datatables/media/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/webjars/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/webjars/datatables-responsive/js/dataTables.responsive.js}"></script>

    <!-- Morris Charts JavaScript -->
    <script th:src="@{/webjars/raphaeljs/raphael-min.js}"></script>
    <script th:src="@{/webjars/morrisjs/morris.min.js}"></script>
    <script src="vendor/js/morris-data.js"></script>
    
    <!-- Flot Charts JavaScript -->
    <script th:src="@{/webjars/flot.tooltip/js/excanvas.min.js}"></script>
    <script th:src="@{/webjars/flot/jquery.flot.min.js}"></script>
    <script th:src="@{/webjars/flot/jquery.flot.pie.min.js}"></script>
    <script th:src="@{/webjars/flot/jquery.flot.resize.min.js}"></script>
    <script th:src="@{/webjars/flot/jquery.flot.time.min.js}"></script>
    <script th:src="@{/webjars/flot.tooltip/js/jquery.flot.tooltip.min.js}"></script>
    <script src="vendor/js/flot-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="vendor/js/sb-admin-2.min.js"></script>

</body>

</html>