<!DOCTYPE html>

<!-- Thymeleafでmain.htmlのレイアウトを使用します。css、js、contentがlayoutにあるmain.htmlよりコールされます　 -->
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main :: layout ('index')}">

 <!-- ページ固有のスタイルシートはここにまとめて定義します -->
<th:block th:fragment="css">
  <!-- ページ固有 Stylesheet -->
  
</th:block>
 
 <!-- ページ固有のスクリプトはここにまとめて定義します -->
<th:block th:fragment="js">
  <!-- ページ固有 Scripts -->
  <script th:src="@{/dashboard.js}"></script>
  <script th:src="@{/user-search.js}"></script>
  <script th:src="@{/user-modification-list.js}"></script>
  <script th:src="@{/user-same-export.js}"></script>
  <script th:src="@{/exam-date.js}"></script>
  <script th:src="@{/exam-date-gantt.js}"></script>
  <script th:src="@{/exam-date-list.js}"></script>
  <script th:src="@{/exam-date-ticket-result.js}"></script>
  <script th:src="@{/exam-date-system.js}"></script>
  <script th:src="@{/exam-place-capacities-list.js}"></script>
  <script th:src="@{/photos-pdf-export.js}"></script>
  <script th:src="@{/photos-confirmation-pdf-export.js}"></script>
  <script th:src="@{/import-gpa.js}"></script>
  <script th:src="@{/examinees-numbering.js}"></script>
  <script th:src="@{/examinees-reservation.js}"></script>
  <script th:src="@{/examinees-reservation-cancel.js}"></script>
  <script th:src="@{/application-csv-export.js}"></script>
  <script th:src="@{/import-exam-result.js}"></script>
  <script th:src="@{/import-examinees-number-issue-paramater.js}"></script>
  <script th:src="@{/import-application-modify.js}"></script>
  <script th:src="@{/import-practical-examinees-number.js}"></script>
  <script th:src="@{/application-daily-summary-export.js}"></script>
  <script th:src="@{/application-preliminary-export.js}"></script>
  <script th:src="@{/change-log.js}"></script>
  <script th:src="@{/report-received.js}"></script>
  <script th:src="@{/report-processing-status.js}"></script>
  <script th:src="@{/payment-confirmation.js}"></script>
  <script th:src="@{/import-managemen-status-update.js}"></script>
  <script th:src="@{/batch-job-history.js}"></script>
  <script th:src="@{/ticket-check.js}"></script>
  <script th:src="@{/ticket-mail.js}"></script>
  <script th:src="@{/operator-list.js}"></script>
  <script th:src="@{/operator-add.js}"></script>
  <script th:src="@{/mailmagazine-list.js}"></script>
  <script th:src="@{/mailmagazine-add.js}"></script>
  <script th:src="@{/information-list.js}"></script>
  <script th:src="@{/information-add.js}"></script>
</th:block>
 
<!-- content部分は非同期で取得します。 -->
<th:block th:fragment="content (page)">
 <div ui-view class="right_col" role="main"/>
</th:block>

</html>