<!DOCTYPE html>

<!-- Thymeleafでlogin.htmlのレイアウトを使用します。　 -->
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/login :: layout ('login')}">
<th:block th:fragment="content (page)">
  <div>
   <a class="hiddenanchor" id="signup"></a>
   <a class="hiddenanchor" id="signin"></a>
   <div class="login_wrapper">
    <div class="animate form login_form">
     <section class="login_content">
      <form name="form" th:action="@{/login}" action="/login" method="POST">
       <h1>大学入試管理</h1>
       <div>
        <input type="text" name="username" class="form-control" placeholder="Username" required="" />
       </div>
       <div>
        <input type="password" name="password" class="form-control" placeholder="Password" required="" />
       </div>
       <div>
        <input type="submit" id="login" value="ログイン" class="btn btn-primary" />
        <a class="reset_pass" href="#">パスワードをお持ちですか?</a>
       </div>
       <div class="clearfix"></div>
       <div class="separator">
        <p class="change_link">初めての方
         <a href="#signup" class="to_register">アカウント作成</a>
        </p>
        <div class="clearfix"></div>
        <br />
        <div>
         <h1>
          <i class="fa fa-paw"></i>Gentelella Alela!
         </h1>
         <p>&#169;2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
        </div>
       </div>
      </form>
     </section>
    </div>
    <div id="register" class="animate form registration_form">
     <section class="login_content">
      <form>
       <h1>アカウント作成</h1>
       <div>
        <input type="text" class="form-control" placeholder="Username" required="" />
       </div>
       <div>
        <input type="email" class="form-control" placeholder="Email" required="" />
       </div>
       <div>
        <input type="password" class="form-control" placeholder="Password" required="" />
       </div>
       <div>
        <a class="btn btn-default submit" href="index.html">送信</a>
       </div>
       <div class="clearfix"></div>
       <div class="separator">
        <p class="change_link">メンバーの方 ? 
         <a href="#signin" class="to_register">ログイン</a>
        </p>
        <div class="clearfix"></div>
        <br />
        <div>
         <h1>
          <i class="fa fa-paw"></i>Gentelella Alela!
         </h1>
         <p>&#169;2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
        </div>
       </div>
      </form>
     </section>
    </div>
   </div>
  </div>
  </th:block>
</html>